*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/public/screenshots
/spec/tmp
**.orig
rerun.txt

## Environment normalisation:
/.bundle
/vendor/bundle
/node_modules

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

.env
