<div id="footer">
  <div class="row">
    <div class="small-12 columns">
      Made in Berlin for Ludum Dare. Source. Follow me on <a href="https://twitter.com/phansch">Twitter</a>.
      The timelapse of my work will be available after Ludum Dare.
    </div>
  </div>
</div>
