<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />

  <title>Timelapse livestreamer</title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/placeholder.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/foundation.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
  <div class="row" id="top">
    <div class="small-12 columns">
      <img class="th" id="last_image" src="<%= @images.last %>" />
    </div>
  </div>
  <div id="thumbnails">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-<%= @images.size %>">
          <% @images.each do |image_path| %>
            <li><img class="th" src="<%= image_path %>" /></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="row">
      <div class="small-12 columns">
        Made in Berlin for Ludum Dare. Source. Follow me on <a href="https://twitter.com/phansch">Twitter</a>.
      </div>
    </div>
  </div>


  <script type="text/javascript" charset="utf-8">
    $(function() {

      var es = new EventSource('/connect');
      es.onmessage = function(e) {
        var msg = $.parseJSON(e.data);
        $('#last_image').attr("src", "/screenshots/" + msg.filename);
      };
    });
  </script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
